@use '../custom' as *;
@use 'mixins' as *;
.btn-rounded{
    @include media-breakpoint-down(sm){
        display: none;
    }
    position: relative;
    padding: 0.9375rem;
    font-weight: 700;
    margin: 0;
    border: .1rem solid rgba($white, 0.6);
    background-color: $white;

    
    &:hover{
        @include gradient;
        color: $white;
       
    }
}
